html, body {
    background: rgb(245, 245, 245) url("../images/geometric-leaves.png");
    /*background: rgb(55, 55, 55) url("../images/geometric-leaves.png") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    overflow-x: hidden;
    width: 100%;


    /*color: ghostwhite;*/
}

.container-fluid {
}

#input_side {
    text-align: center;
    background-color: rgba(200, 200, 255, 0.25);
}

#output_side {
    text-align: center;
    background-color: rgba(255, 100, 100, 0.25);
}

.a_header {
    margin-bottom: 15px;
}

#addr_input {
    width: 75%;
}